<!--footer-->
<footer class="container-fluid text-center">
  <a href="#myPage" title="Vers le haut">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Website powered by 
    <a href="http://www.mikiry.mg" title="Visiter mikiry.mg">www.mikiry.mg</a>
  </p>		
</footer>

<!-- Scripts -->
<script type="text/javascript" src="public/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/js/mikiry.js"></script>